:root {
  --prathamesh-purple: #d1cddb;
  --prathamesh-yellow: #F3D060;
  --prathamesh-green: #ade1cd;
  --prathamesh-black: #202020;
  --prathamesh-white: #f9f6ef;
  --prathamesh-red: #ba0c2f;
  --prathamesh-midnight-green: #4E5851;
  
  --prathamesh-background-color: var(--prathamesh-white);
  --prathamesh-cursor: var(--prathamesh-black);
}

// https://brandpalettes.com/apple-iphone-colors/