:root {
  --prathamesh-purple: #d1cddb;
  --prathamesh-yellow: #ffe680;
  --prathamesh-green: #ade1cd;
  --prathamesh-black: #202020;
  --prathamesh-white: ##f9f6ef;
  --prathamesh-red: #ba0c2f;

  --prathamesh-background-color: var(--prathamesh-white);
  --prathamesh-cursor: var(--prathamesh-black);
}



// #d1cddb	rgb(209, 205, 219)
// #ffe680	rgb(255, 230, 128)
// #ade1cd	rgb(173, 225, 205)
// #202020	rgb(32, 32, 32)
// #f9f6ef	rgb(249, 246, 239)
// #ba0c2f	rgb(186, 12, 47)